@model KLOVE_ASSIGNMENT.Models.Employeedepartment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Employee
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
           Department
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
