@model KLOVE_ASSIGNMENT.Models.Employeedepartment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee-Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Employee
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
           Department
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
