
@{
    ViewData["Title"] = "CRUD";
}

<h2>CRUD</h2>
<ul>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/departments">Departments</a></li>
    <li><a href="/employeedepartments">Associate Employee to Department</a></li>
    <li><a href="/employeedepartments/DepartmentEmps">Employees per Department</a></li>


</ul>

